body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #ccc;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  
  color: #111;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  
  margin-top: 0;
  margin-left:0;
  margin-bottom: 0;
  line-height: .75;
}


#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #999;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #ccc;
}
#nav-list a span {
  font-size: 1.8em;
}




.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#main-menu{
  margin-right: 15px;
  margin-left: 15px;
  background-color: #ccc;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
 
  }
  /* End Header */

}
